In [53]:
dict1 = { 
        "april_batch":
        {
            "student":
            { 
                "name":"Mike",
                "marks":{ "python":80,"maths":70 }
            }
        }
}

In [54]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [55]:
#accessing mike
dict1["april_batch"]["student"]["name"]

'Mike'

In [58]:
#accesing 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [50]:
#change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"]="Aravind"

In [26]:
dict1["april_batch"]["student"]["name"]

'Aravind'

In [62]:
#add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1["april_batch"]["student"]["marks"]["DL"]=80

In [63]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}