# #Task6 - Add and remove the elements from a tuple.

In [ ]:
# we cant add or remove elements from tuple because  it immutable

In [7]:
t1=(1,2,3,4,5,6)

In [2]:
type(t1)

tuple

In [8]:
t1[5]

6

In [9]:
t1[:]

(1, 2, 3, 4, 5, 6)

In [12]:
t1[:4]

(1, 2, 3, 4)

In [13]:
t1[1:6:2]

(2, 4, 6)

In [ ]:
#we can add elemnt in tuples by working around tuples into list

In [1]:
tup1=(1,2,3,4,5,6,7)

In [3]:
l1=list(tup1)
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
l1[0]=46

In [7]:
print(l1)

[2, 3, 4, 5, 6, 7]

In [ ]:
#remove element
l1.remove(46)

In [8]:
print(l1)

[2, 3, 4, 5, 6, 7]